<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lcl.android"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="2.2.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序读取短信息 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 获取mac地址权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="lcl.android.core.AppContext"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:enabled="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="lcl.android.core.AppStart"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Main"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.BlogDetail"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.WorksClcs"
            android:label="@string/app_name" />
    </application>

</manifest>